body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: silver;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

h2 > img {
    height: 35px;
    width: 35px;
}

#list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;

    padding: 3rem;

    /* border: solid 2px black; */
}

#list > div {
    border: solid 4px black;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin: 2rem;
    padding: 1rem;
}

#detail {
    display: flex;
    justify-content: center;
    padding: 3rem;
    /* border: solid 2px black; */
}

.rainbow-bord { 
    border: 4px solid black;
   
    border-radius: 30px;
    
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(170, 8, 8);
    height: 560px;
    width: 350px;
    padding: 2rem;
    margin: .5rem;
}


#detail > div > div {
    height: 16px;
    width: 16px;
    border-radius: 18px;
    border: solid 6px black;
    background-color: silver;
    align-self: center;
    
}

#detail > div > p {
    font-family: cursive;
    font-style: italic;
    text-align: center ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: black;
}

#detail > div > hr {
    width: 100%;
}

#detail > div > img {
    height: 300px;
    width: 200px;
    border: solid 2px black;
    display: inline-block;
    align-self: center;
    
}

.selected {
    /* border: solid 2px rgb(24, 25, 25); */
    color: black;
    
}

@media (max-width: 500px) {
    div {
        flex-direction: column;
    }
}